<!--{eval $pt=$DT->pointtype;}-->
<style type="text/css">
#frm_digest p { line-height:20px; color:#323232; margin:0 0 10px 0; padding:0; }
</style>
<form method="post"name="frm_digest" id="frm_digest" action="{url review/member/ac/$ac/op/pay}">
    <p>
        您确定要购买 <a href="{url space/index/uid/$review[uid]}" target="_blank">$review[username]</a> 发布的精华点评吗？<br />
        本次购买将扣除您 <span class="font_1">$DT->price</span> {print:member point(point/$DT->pointtype/keyname/u|n)}
        <!--{if $DT->is_gain() && $review['uid']>0}-->，<a href="{url space/index/uid/$review[uid]}" target="_blank">$review[username]</a> 从中收益 <span class="font_2">$DT->price_gain</span> {print:member point(point/$DT->pointtype/keyname/u|n)}<!--{/if}-->，您目前还有 <span class="font_2">{print $user->$pt}</span> {print:member point(point/$DT->pointtype/keyname/u|n)}。
    </p>
    <div style="border-top:1px solid #ddd;font-size:1px;height:10px;"></div>
    <input type="hidden" name="dosubmit" value="yes" />
    <button type="button" onclick="ajaxPost('frm_digest','$rid','review_open_detail');">购买</button>&nbsp;
    <button type="button" onclick="dlgClose();">取消</button>
    <input type="hidden" name="rid" value="$rid">
</form>