body, button, input, select, textarea { font: 12px/1.5 arial,sans-serif; }
button { cursor: pointer; }
h1,h2,h3,h4,h5,h6,ul,p,form,div{margin:0;padding:0}
ul{list-style:none;}

.mt5 { margin-top:5px; }
.mt10 { margin-top:10px; }
.mb10 { margin-bottom:10px; }
.pt10 { padding-top:10px; }
.pb10 { padding-bottom:10px; }
.bt_d { border-top:1px solid #ddd; }

.item-rail { background:url(images/rail_title_bg.gif) repeat-x; border:1px solid #ddd; padding:0 10px; }
    .item-rail h3.railtitle { color:#323232; height:30px; line-height:30px;  }

.category { padding:20px 0 20px 20px;line-height:18px; background:url(images/product_cate_bg.png) repeat-x scroll left bottom white; }
    .category .cat { margin:0; padding:0; list-style:none; }
        .category .cat li { float:left; width:115px; }
    .category .selected a { color:#CC0000; text-decoration: underline; }

/* head */
.head-preview { background:#F7F7F7; line-height:30px; text-align:center; font-size:14px; }
.head-top { background:#F7F7F7; border-bottom:1px solid #ccc;  }
.head-top-center { margin:auto; width:950px; height:34px; }
.head-top-logo { width:135px; margin-top:2px; float:left; }

.head-top .head-top-menu { float:left; width:auto; margin-left:5px; position:relative;z-index:1000; }

.head-top .topmenu li { float:left; line-height:34px; width:auto; }
.head-top .topmenu li a { display:block; text-align: center;text-decoration: none; 
    border-width:0 1px; border-style:solid; border-color: #F7F7F7; padding:0 8px; }
    .head-top .topmenu li a:hover,
    .head-top .topmenu li a:active { border-color: #DDD; background:#FFF; }
.head-top .topmenu li .hover { border-color: #DDD; background:#FFF; }

.head-top .topmenu-more-list { display:none; margin:0; padding:0; background:#fff; border:1px solid #d2d2d2; 
    overflow-x:hidden; position:absolute; }
    .head-top .topmenu-more-list ul { margin:0;padding:0; }
        .head-top .topmenu-more-list li { padding:0; margin:0; border-width:1px 0; border-style:solid; border-color:#FFF; }
            .head-top .topmenu-more-list li a { display:block; margin:0; padding:3px 13px; border-width:1px 0; border-style:solid; 
                border-color: #FFF; text-decoration: none; }
            .head-top .topmenu-more-list li a:hover,
            .head-top .topmenu-more-list li a:active { background:#ffffc4; }

.head-top-op { float:right; width:420px; text-align:right; position:relative;z-index:1000; }
.head-top-op .topmenu li { float:right; }

/* footer */
.item-footer { width:950px; clear:both; margin:10px auto; }
    .item-footer .links { height:28px; line-height:28px; border-top:1px solid #ddd; padding-top:5px; }
        .item-footer .links a { margin:0 5px; }
    .item-footer .bottom { font-size: 10px; }
        .item-footer .bottom a { margin:0 5px; color: #717171; }
    .item-footer div { color: #717171; text-align:center; line-height: 18px; }
    .item-footer .version { color: #FF6600; }
    .item-footer .product a { color: #0066FF; font-weight: bold; }

/* body */
.item-body { margin:auto; width:950px; }
.item-nav { margin-top:5px; }
.item-banner { margin-top:5px; height:150px; }
.item-title { float:left; overflow: hidden; padding:0px; position: relative; top:30px; left:20px; }
    .item-title h1 { font:28px '微软雅黑','黑体'; font-weight:normal; color:#323232; -moz-user-select:none; }
.item-menu { clear:both; background:url(images/menu_bg.png); height:39px; margin-top:5px; }
    .item-menu li { float:left; padding:0; font-size:16px; height:37px; line-height:37px; }
        .item-menu a { color:#FFF; background:url(images/menu_split.png) no-repeat 0 3px; padding:0 15px; }
        .item-menu p.selected { background:#FCC300; }
            .item-menu p.selected a { color:#000; background:none;}
        .item-menu li.index p { width:73px; padding:0;  text-align:center; }
            .item-menu li.index p.selected { background:url(images/menu_index_selected_bg.png); }
        .item-menu li.index a { background-image:none; }
        .item-menu li.manage { float:right; }
            .item-menu li.manage a { background:url(images/menu_manage.png) no-repeat 0 4px; padding-left:18px; }

.item-body .manage-menu-list { display:none; margin:0; padding:0; background:#fff; border:1px solid #d2d2d2; 
    overflow-x:hidden; position:absolute; -moz-box-shadow:0 1px 2px #ccc; -o-box-shadow:0 1px 2px #ccc;
    -webkit-box-shadow:0 1px 2px #ccc; box-shadow: 0 1px 2px #ccc; }
    .item-body .manage-menu-list ul { margin:0; padding:0; _width:120px; }
        .item-body .manage-menu-list li { margin:0; padding:0; border-width:1px 0; border-style:solid; border-color:#FFF; }
            .item-body .manage-menu-list li a { display:block; padding:3px 13px; border-width:1px 0; border-style:solid; 
                border-color: #FFF; text-decoration: none; }
            .item-body .manage-menu-list li a:hover,
            .item-body .manage-menu-list li a:active { background:#ffffc4; }

.item-content { margin-top:5px; }
.item-left { float: left; width:740px; }
.item-right { float: right; width: 200px; }

.item-index-picture { float:left; border:1px solid #ccc; width:200px; text-align:center; }
    .item-index-picture .pic { padding:20px 0;}
        .item-index-picture .pic img { max-width:195px; padding:1px; }
    .item-index-picture .op { padding:5px 10px; }

.item-index-detail { float:left; margin-left:10px; }
    .item-index-detail h1.title { text-align:center; font-size:16px; font-weight:normal; color:#323232; margin:5px 0; }

    .item-index-detail .custom_field { margin:0; width:520px; border:1px  }
    .item-index-detail .custom_field td { padding:4px 2px; font-size:12px; line-height:18px;}
    .item-index-detail .custom_field td a { margin:0 2px; }
    .item-index-detail .custom_field td.key { width:100px; text-align:right; }

    .item-index-detail .op { margin-top:5px; }

.item-index-content { color:#323232; }
    h3.mariltitle { margin:10px 0; color:#ff9900; font-size:14px; }

    .item-index-content .relate { list-style:none; margin:0; padding:0 }
    .item-index-content .relate li { float:left;width:245px; max-height:120px; margin:5px 0;  }
    .item-index-content .relate li .relate_thumb { float:left; width:100px; max-height:100px; }
    .item-index-content .relate li .relate_thumb img { max-width:95px; max-height:75px; padding:1px; border:1px solid #ddd;
        _width:expression(this.width > 95 ? 95 : true); _height:expression(this.height > 75 ? 75 : true);  }
    .item-index-content .relate li .relate_info { float:left; width:110px;margin:0 0 0 10px; padding:0;}
    .item-index-content .relate li .relate_info h5 { font-size:12px; padding:0; margin:2px 0; }
    .item-index-content .relate li .relate_sp { display:block; margin:1px 0; }

.item-index-effect { margin-bottom:5px; }
.item-index-effect em { float:right; font-style:normal; margin-right:5px; }
.item-index-effect h3 { margin:5px; padding:0 0 5px 0; border-bottom:1px dashed #ccc; font-size:12px; font-weight:normal; }
    .item-index-effect .members { list-style:none; padding:0 5px; }
        .item-index-effect .members li { float:left; width:60px; }
            .item-index-effect .members li div { width:50px; text-align:center; }
        .item-index-effect .members img { max-width:48px; max-height:48px; border:1px solid #eee; padding:1px; display:block; }

.item-dplist-container {}
.item-dplist-container .dplist-tab { background: url(images/dblist-tab-b.png) repeat-x 0 100%; height: 36px; padding: 0 15px 0 10px; }
.item-dplist-container .dplist-tab ul { float: left; }
.item-dplist-container .dplist-tab li { background: url(images/dblist-tab-l.png);float: left;height: 36px;margin: 0 4px 0 0;overflow: hidden;
    padding: 0 0 0 5px; }
.item-dplist-container .dplist-tab li.selected { background: url(images/dblist-tab-lc.png);}
.item-dplist-container .dplist-tab li a { background: url(images/dblist-tab-r.png) 100% 0; color: #333; font-size: 14px;
    font-weight:bold; float: left; height: 26px; padding: 10px 17px 0 12px; }
.item-dplist-container .dplist-tab li.selected a { background: url(images/dblist-tab-rc.png) 100% 0; }

.item-dplist-container .dplist-subrail { background:#F6F6F6; height:38px; line-height:38px; border-bottom:1px dashed #ddd; padding:0 10px; }

.sub-mainrail { margin:0 5px; }
.sub-mainrail h3.sub-title { font-size:12px; margin:10px 5px 5px; color:#323232; }
.sub-mainrail em { position:relative; top:5px; }
.sub-mainrail .rail-list li { padding:1px 5px; }

.rail-faces { padding:5px 0; margin:5px 0 0; padding:0; list-style:none; overflow:hidden; }
    .rail-faces li { float:left; margin:0 3px; width:55px; height:72px; text-align:center; overflow:hidden; }
        .rail-faces li div { width:50px; margin:0 auto;  }
        .rail-faces li img { width: 48px; height: 48px; padding: 1px; border: 1px solid #ddd; margin:auto;}
        .rail-faces li span { display: block; line-height: 17px; clear:right; margin-top:1px; overflow-x:hidden; }
        .rail-faces .nothing { padding-left:5px; padding-bottom:5px; }

.item-dplist-cnt { clear:both; border-bottom:1px solid #ddd; padding-bottom:10px; }
    .item-dplist-cnt em { float:right; font-style:normal; }
    .item-dplist-cnt .dpMember { float:left; width:80px; text-align:center; color:#808080; }
        .item-dplist-cnt .dpMember img.face { padding:1px; border:1px solid #ddd; margin-bottom:5px; }
        .item-dplist-cnt .dpMember li { height:18px; overflow-x:hidden; }
    .item-dplist-cnt .dpDetail { float:left; width:658px; }
    .item-dplist-cnt .dpPoint { padding:10px 0; border-bottom:1px dashed #ddd; }
        .item-dplist-cnt .dpPoint li { float:left; padding:0 5px; }
            .item-dplist-cnt .dpPoint li span { padding-right:10px; }
    .item-dplist-cnt .dpContent { margin:5px 5px; min-height:60px; padding-bottom:5px; border-bottom:1px dashed #ddd; }
        .item-dplist-cnt .dpContent .pictures { margin:5px 0; }
            .item-dplist-cnt .dpContent .pictures img { max-width:100px; max-height:100px; padding:1px; border:1px solid #ccc;
_width:expression(this.width > 100 ? 100 : true); _height:expression(this.height > 100 ? 100 : true); }
        .item-dplist-cnt .dpContent h4.title { font-size:14px; margin-bottom:5px; }
        .item-dplist-cnt .dpContent p { color:#323232; line-height:18px; }

    .item-dplist-cnt .dpDetail .flowers_list { margin:5px 10px; color:#323232; border-bottom:1px dashed #ddd; }
        .item-dplist-cnt .dpDetail .flowers_list h3 { font-size:12px; }
        .item-dplist-cnt .dpDetail .flowers_list ul { margin-bottom:10px; }
            .item-dplist-cnt .dpDetail .flowers_list li { float:left; margin:5px 5px 5px 0; width:54px; text-align:center;}
            .item-dplist-cnt .dpDetail .flowers_list li .face { border:1px solid #ccc; padding:2px;  }
            .item-dplist-cnt .dpDetail .flowers_list li .title a { color:#0000FF; }

    .item-dplist-cnt .dpDetail .resplods_list { margin:5px 10px; color:#323232; border-bottom:1px dashed #ddd; }
        .item-dplist-cnt .dpDetail .resplods_list h3 { font-size:12px; }
            .item-dplist-cnt .dpDetail .resplods_list em a { padding:0 2px; }
        .item-dplist-cnt .dpDetail .resplods_list ul { list-style:none; margin:0 0 5px 0; padding:0; }
            .item-dplist-cnt .dpDetail .resplods_list li { min-height:50px; clear:both; padding:5px 0 0; }
                .item-dplist-cnt .dpDetail .resplods_list li .face { float:left; width:50px; border:1px solid #ccc; padding:2px; text-align:center; margin-right:10px;}
                .item-dplist-cnt .dpDetail .resplods_list li .content { float:left; width:570px; }
                .item-dplist-cnt .dpDetail .resplods_list li .title { clear:both; background:#ffede1; padding:5px 5px; }
                .item-dplist-cnt .dpDetail .resplods_list li .detail { clear:both; margin:5px 8px; color:#808080; }

    .item-dplist-cnt .dpOp { color:#808080; padding:0 10px; }
    .item-dplist-cnt .dpOp em { float:right; font-style:normal; }

.item-gblist-cnt { clear:both; border-bottom:1px solid #ddd; padding-bottom:5px; }
    .item-gblist-cnt .title { margin:0 5px; background:#FFF8F0; margin-top:5px; color:#808080; }
        .item-gblist-cnt .title em { float:right; font-style:normal; }
        .item-gblist-cnt .title h2 { font-size:12px; padding:3px; font-weight:normal; margin:0; }
    .item-gblist-cnt .body { margin:5px 10px; line-height:20px; }
        .item-gblist-cnt .body .content { margin:8px 0; color:#808080; }
        .item-gblist-cnt .body .reply { margin:8px 0; color:#FF6600; }

.item-forum-cnt { clear:both; border-bottom:1px solid #ddd; padding-bottom:5px; }
    .item-forum-cnt li { font-size:14px; line-height:30px; padding:0 10px; border-bottom:1px dashed #eee; }
        .item-forum-cnt li cite,.item-forum-th li cite { float:right; font-style:normal; color:#808080; }
        .item-forum-cnt li.title,.item-forum-th li.title { font-weight:bold; color:#808080; }

/*review form*/
.review-rating { float:left; width:23%; margin-bottom:1px; }
    .review-rating .rating-name { margin-bottom:1px; }
    .review-rating .rating-start { width:90px; border:2px solid #ffc17d; padding:3px 5px; }

.review-rating-c { padding: 0; margin: 0 auto; width:83px; _width:85px; }
.review-rating-c li {line-height: 0;width: 14px;height: 15px;padding: 0;margin: 0;margin-left: 2px;list-style: none;
    float: left;cursor: pointer;}
.review-rating-c li span {display: none;}

.item_table td { padding:5px 0; line-height:15px; }
.item_table td textarea { margin-bottom:5px; }

.review_picture_upload { margin:5px 0; }
.review_picture_op { float:left; text-align:center; width:110px; }
.review_picture_op img { display:block; max-width:100px; max-height:100px; padding:1px; border:1px solid #ccc;
    _width:expression(this.width > 100 ? 100 : true); _height:expression(this.height > 100 ? 100 : true); }


/* album */
.item-album-list { }
    .item-album-list ul { margin:0; padding:0; list-style:none; }
    .item-album-list li { float:left; width:355px; padding-bottom:10px; border-bottom:1px dashed #ddd; }
        .item-album-list li .thumb { float:left; width:135px; height:102px; background:url('images/album_gb.png') no-repeat; padding:3px 0 0 3px; 
            margin-top:5px; }
            .item-album-list li .thumb img { max-width:120px; max-height:98px; _width:expression(this.width > 120 ? 120 : true); 
                _width:expression(this.height > 98 ? 98 : true); }
        .item-album-list li .info { float:right; width:210px; color:#808080; }
            .item-album-list li .info h3 { font-size:14px; margin:10px 0 0 0; padding:0; }
                .item-album-list li .info h3 a { color:#CC0000; }
            .item-album-list li .info p { margin:5px 0 0; }
                .item-album-list li .info p span { display:block; line-height:20px;  }
    .item-album-list li .des { float:right; width:230px; }
    .item-album-list li .des p { clear:both; line-height:150%; color:#808080; padding:0; margin:0 10px 0 0; }

/* product */
.product-list { padding-top:10px; }
    .product-list .plist { margin:0 0 10px 0; padding:0; border-bottom:1px dashed #ccc; }
        .product-list .plist .thumb { float:left; width:120px; margin:0; }
            .product-list .plist .thumb img { max-width:120px; _width:expression(this.width > 120 ? 120 : true); margin-bottom:10px; }
        .product-list .plist .info { float:right; width:605px; color:#808080; line-height:18px; margin-bottom:10px; }
                .product-list .plist .info .start { float:right; margin:0; padding:0; height:15px;  }
            .product-list .plist .info h3 { margin:0 0 5px; padding:0; font-size:14px; }
                .product-list .plist .info h3 a{ color:#CC0000;  }
            .product-list .plist .info p { padding:0; margin:0; line-height:17px; }
        .product-list .plist .infox { width:555px; }
        .product-list .plist .total { line-height:18px; margin-top:5px; }

.product-list .ppics { margin:0 0 10px 10px; padding:0; float:left; width:210px; list-style:none; }
	.product-list .ppics li div { text-align:center; border:1px solid #eee; height:180px; width:210px; 
		display: table-cell; outline: medium none; overflow: hidden; vertical-align: middle; }
		.product-list .ppics li div img { max-width:200px; max-height:170px; 
		    _width:expression(this.width > 200 ? 200 : true); _height:expression(this.height > 180 ? 180 : true); 
            *margin-top:expression((180-this.height)/2) }
	.product-list .ppics li h3 { margin:5px 0; padding:0; font-size:14px; font-weight:normal; }
	.product-list .ppics li h3 a{ color:#CC0000; }
	.product-list .ppics li p { margin:0 1px; padding:0; line-height:160%; color:#808080; }

.product-detail { padding:10px; }
    .product-detail .title { text-align:center; font-size:20px; color:#4B4B4B; font-family:'微软雅黑','黑体'; font-weight:normal; }
    .product-detail .t { color:#808080; text-align:center; padding-bottom:5px; border-bottom:1px solid #ddd; }

    .product-detail .info { margin-bottom:20px; }
        .product-detail .info .start { height:15px;margin:0;pddding:0; }
        .product-detail .info .thumb { float:left; width:210px; text-align:center; margin-top:10px; border:1px solid #ddd; padding:20px 0; }
            .product-detail .info .thumb img { min-width:200px; _width:expression(this.width > 200 ? 200 : true); }
        .product-detail .info .field { float:right; width:510px; margin-top:10px; }
            .product-detail .info .detail_field { width:100%; }
            .product-detail .info .detail_field td { padding:10px 0; font-size:14px; color:#323232; }
            .product-detail .info .detail_field .key { width:100px; text-align:right; }

    .product-detail .content { }
        .product-detail .content h3 { border-bottom:1px solid #DDD; padding:5px; color:#4B4B4B; }
        .product-detail .content .c { font-size:14px; line-height:150%; margin:10px 5px; }

/* article */
.article-list { padding:10px 0; }
    .article-list .article_s { padding:10px 0; border-bottom:1px dashed #ddd; }
        .article-list .article_s em { float:right; color:#808080; font-style:normal; }
        .article-list .article_s h3 { font-size:14px; }
        .article-list .article_s p { color:#808080; line-height:180%; margin:8px 0;padding:0; }
        .article-list .article_s div span { margin-right:10px; }

.aritcle-detail { padding:10px; }
    .aritcle-detail h1.detail-title { font-size:20px; *padding-top:8px;margin-bottom:15px;text-align:center; 
        font-family:"Microsoft YaHei","Hiragino Sans GB",STHeiti,SimHei,sans-serif; font-weight:normal; }
    .aritcle-detail div.info { margin-top:10px;padding:0; color:#808080; text-align:center; }
    .aritcle-detail div.introduce { margin:15px 0; border:1px solid #ddd; background:#FAFAFA; padding:10px; line-height:160%; color:#808080; }
    .aritcle-detail div.content { font-size:14px; line-height:180%; }
    .aritcle-detail div.content img { max-width:595px; _width:expression(this.width > 595 ? 595 : true); }
    #digg_num { display:block; margin-bottom:5px; font-size:26px; color:#FF6600; }
    #digg_click { }
    .aritcle-detail div.digg{ width:80px; margin:10px auto 15px; text-align:center; border:1px solid #ccc; padding:10px 0; background:#FFF; -moz-border-radius:10px; }
    .aritcle-detail div.operation { border-width:1px 0; border-color:#ddd; border-style:dashed; background:#FFF; padding:10px 0; text-align:center;  margin-bottom:20px; }

/* coupon */
.coupon-list{ padding:10px 0; }
    .coupon-list .il_coupon { margin-bottom:10px; padding:5px 10px 10px 25px; border-bottom:1px dashed #ddd; }
        .coupon-list .il_coupon h2 { font-family:"Microsoft YaHei","Hiragino Sans GB",STHeiti,SimHei,sans-serif; font-size:14px; padding:0; margin:3px 0 8px; font-weight:normal; }
        .coupon-list .il_coupon .thumb { float:left; width:170px; *width:170px; margin:0; }
            .coupon-list .il_coupon .thumb img { max-width:160px; _width:expression(this.width > 160 ? 160 : true); }
        .coupon-list .il_coupon .info { float:right; width:430px; color:#808080; margin:0; padding:0; list-style:none; }
            .coupon-list .il_coupon .info li { float:left; width:210px; padding:5px 0; margin:0; }
                .coupon-list .il_coupon .info li.full { width:100%; }

.coupon-detail { padding:15px 15px; }
    .coupon-detail h1.subject { font-size:20px; *padding-top:8px;margin-bottom:10px;text-align:center; 
        font-family:"Microsoft YaHei","Hiragino Sans GB",STHeiti,SimHei,sans-serif; font-weight:normal; }
    .coupon-detail div.info { margin:10px 0;padding:0; color:#808080; text-align:center; }
    .coupon-detail div.introduce { margin:15px 0; border:1px solid #ddd; background:#FAFAFA; padding:10px; line-height:160%; color:#808080; }
    .coupon-detail div.content { font-size:14px; line-height:180%; }
    .coupon-detail div.picture { text-align:center;  }
        .coupon-detail div.picture img { max-width:595px; _width:expression(this.width > 595 ? 595 : true); }
    .coupon-detail div.print { width:180px; margin:10px auto; }
    .coupon-detail div.des {list-style:none;border:1px solid #ddd; background:#FAFAFA; line-height:160%; color:#808080;  padding:10px 0 10px 10px; }
        .coupon-detail div.des li { margin:5px 0; }
    .coupon-detail div.content { margin:10px 0; }


/* part_side */
.site_subject_start { height:14px; margin-left:3px; margin-bottom: 5px; }
.side_subject_field_list { margin:0 5px; line-height:16px; color:#323232; }
    .side_subject_field_list td { padding:3px 0; }


/* manage */
.item-manage { float:right; position:relative; display:inline-block; _display:inline; _zoom:1; top:0px; right:3px; 
    z-index:999; padding:2px 5px; background:#0080c0; }
    .item-manage span.split { margin:0 2px; color:#ffff00; }
    .item-manage a { color:#FFF; }

.item-manage-move-title-op { float:left; color:#FFF; background:#0080c0; padding:2px 5px; width:auto; }
    .item-manage-move-title-op .click { cursor:pointer; }
    .item-manage-move-title-op .split { color:#ffff00; margin:0 2px; }

/* review */
.review-view { padding-top:10px;  }
.review-digest { background:url("../../main/default/img/jing.png") no-repeat 480px 5px; }
.review-digest-message { border:1px solid #ddd; color:#323232; background:#f5f5f5; margin:10px; padding: 10px; }

.review { clear:both; width:100%; margin:0 auto 10px auto; }
    .review .member { float:left; line-height:20px; width:60px; }
    .review .m_w_item { width:65px; margin-left:10px; _margin-left:5px; }
    .review .member img { display:block; border:1px solid #eee; padding:1px; }
    .review .member ul {  list-style:none; margin:0; padding:0; }
    .review .member ul li { margin:1px 0; color: #808080; }
    .review .member ul li span { font-size:10px; }
    .review .member .username { display:block; table-layout:fixed; word-break: break-all; overflow:hidden; text-align:center; }
    .review .field { float:left;  }
    .review .f_w_item { width:640px; }
    .review .feed { background:#ffebd5; padding:0 5px; line-height:25px; margin-bottom:5px; }
        .review .feed em { margin-top:-6px; }
        .review .feed h3 { display:inline;font-size:12px; color:#CC0000; padding:0; margin:0; }
            .review .feed h3 a { color:#CC3300; }
        .review .feed span a { color:#0099FF; }
    .review .info { }
        .review .info .score { clear:both; list-style:none; margin:5px 0 0 5px; padding:0; }
            .review .info .score li { float:left; margin:0 2px 0 0; line-height:20px; height:16px;}
        .review .info .pictures { padding-left:5px; }
            .review .info .pictures img { max-width:100px; max-height:100px; padding:1px; border:1px solid #ccc;
            _width:expression(this.width > 100 ? 100 : true); _height:expression(this.height > 100 ? 100 : true); }
        .review .info h4.title { font-size:12px; color:#282828; margin:10px 5px 5px; padding:0; }
        .review .info .params { clear:both;list-style:none; margin:0px 5px; padding:0; }
            .review .info .params li { margin:8px 0; }
        .review .info p { clear:both; padding:0; margin:5px 5px 5px; line-height:20px; color:#666; overflow:auto; *overflow:hidden; }
        .review .info .operation { margin:0 0 5px 5px; text-align:right; }
    .review .f_w_review_index { float:right; width:630px; }
        .review .f_w_review_index a { color:#1166BB; margin:0 2px; }
            .review .f_w_review_index a:hover { color: #ff6600; text-decoration: underline; }
        .review .f_w_review_index .review-subject-name { font-size:12px; margin:8px 0 0 5px; padding:0; font-weight:normal; }
        .review .f_w_review_index .review-content { float:left; width:480px; }
            .review .f_w_review_index .review-content p { min-height:80px; }
            .review .f_w_review_index .subject-thumb { float:right; width:135px; height:102px; background:url('img/image_gb.png') no-repeat; 
                padding:3px 0 0 2px; margin-top:5px; }
            .review .f_w_review_index .subject-thumb img { max-width:120px; max-height:98px; 
                _width:expression(this.width > 120 ? 120 : true); _height:expression(this.height > 98 ? 98 : true); }
            .review .f_w_review_index .review-content-operation { padding-top:5px;border-top:1px dashed #ddd; color:#808080; }
            
.review_tool { margin-top:10px; }
    .review_tool .passport_share { float:left; margin:0; padding:0; list-style:none;}
        .review_tool .passport_share .lable { margin-right:5px; }
        .review_tool .passport_share li { margin:0; padding:0; float:left; margin-right:5px; }            

/* discussion */
.topiclist { margin:5px auto; padding:0; list-style:none; width:710px; }
.topiclist-title { color: #808080; }
    .topiclist li { border-bottom:1px dashed #ccc; padding:6px 2px; }
    .topiclist .subject { float:left; width:350px; }
    .topiclist .ownerpost { color:red; }
    .topiclist .author { float:left; width:100px; }
    .topiclist .dateline { float:left; width:75px; }
    .topiclist .replies { float:left;  width:90px; text-align:center; }

.discussion_post { margin:0; padding:0; }
    .discussion_post form { margin:0px; padding:0; }
    .discussion_post table { width:98%; margin:5px auto;}
    .discussion_post td { padding:5px 0; }
    .discussion_post .t_input { width:96%; }
    .discussion_post textarea { height:130px; width:99%; }
    .discussion_post .smilies { min-height:100px; margin-left: 10px; width:150px; }
        .discussion_post .smilies img { margin:0 1px 2px 0; cursor:pointer; }
    .discussion_post .update-img-ico, #frm_topic .update-img-ico { display: block; margin-bottom:5px; }
    .discussion_post .upimg, #frm_topic .upimg { float:left; text-align:center; width:85px; height:90px; }
        .discussion_post .upimg img, #frm_topic .upimg img{ display:block; max-width:75px; max-height:80px; padding:1px; border:1px solid #ccc;
            _width:expression(this.width > 75 ? 75 : true); _height:expression(this.height > 80 ? 80 : true); }

.topic_detail { padding: 5px 10px; }
    .topic_detail h1 { font-size:16px; margin:5px 0 10px 0; padding:0; color:#323232; }

.reply_detail { clear:both; }
    .reply_detail h3 { font-size:14px; margin:0 0 10px 10px; color: #323232; }
.replylist { margin:0; padding:0; list-style:none; }
    .replylist li { margin: 5px 10px; clear:both;}

.discussion_detail .face { float:left;width:55px; }
    .discussion_detail .face img { padding:1px; border: 1px solid #ccc; }
.discussion_detail .content { float: right; width:655px; margin-bottom:20px; }
    .discussion_detail .content .user { background:#F7F7F7; padding:5px; margin-bottom:2px; }
        .discussion_detail .content .user span {color:green; margin:0 5px;}
        .discussion_detail .content .user em { float:right; margin-top:-5px; }
            .discussion_detail .content .user em a { margin:0 2px; }
    .discussion_detail .content p { padding:5px 5px; margin:0; color:#323232; line-height:180%;}
        .discussion_detail .content p img { margin:0 1px; max-width:600px; _width:expression(this.width > 600 ? 600 : true); }
        .discussion_detail .content p a { padding:0 1px; color:#26A2DA; }

/* fenlei */
.fenlei-list { padding:5px; }
    .fenlei-list-dv { color:both; margin: 10px 5px 10px 5px; border-bottom:1px dashed #ccc; }
        .fenlei-list-dv .thumb { float:left; width:120px; margin-bottom:5px; }
            .fenlei-list-dv .thumb img { padding:1px; border:1px solid #ccc; max-width:120px; max-height:110px; _width:expression(this.width > 120 ? 120 : true); }
        
        .fenlei-list-dv .foor { float:right; width:570px; }
        .fenlei-list-dv .title h3 { margin:0 0 4px;padding:0; font-size:14px; color:#000033; font-weight:normal; }
            .fenlei-list-dv .title h3 a { margin:0 1px; }
            .fenlei-list-dv .title h3 .title a { font-weight:bold; }
        .fenlei-list-dv .introduce { color:#666; line-height:20px; padding:0;margin:0 0 5px 0;}
        .fenlei-list-dv .otherinfo { margin-bottom: 10px; }
            .fenlei-list-dv .otherinfo .info{ margin-right: 5px;}
        .fenlei-list-dv em { float:right; font-style:normal; margin-top:-2px;}
        .fenlei-list-dv .fenlei_field_table { color:#808080; margin:2px 0; }
        .fenlei-list-dv .fenlei_field_table td { padding:2px 0;}

.fenlei-detail { padding:10px; }
    .fenlei-detail .head h1 { font-size:16px; font-weight:bold; color:#CC0000; margin:5px 0 10px 0; }
        .fenlei-detail .head .op { color:#808080; line-height:20px; font-size:12px; border-bottom:1px dashed #E1E1E1; padding-bottom:5px; }
        .fenlei-detail .field table { margin:0; width:100%; }
            .fenlei-detail .field td { padding:5px 5px; border-bottom:1px dashed #E1E1E1; font-size:14px; }
            .fenlei-detail .field .key { width:100px; text-align:right; background:#FFFBF7; }
        .fenlei-detail .info { margin:10px 0; font-size:14px; line-height:20px; }
        .fenlei-detail .contcat { margin-top:10px; background:#FFFEF0; border:1px solid #FFDD7C; }
            .fenlei-detail .contcat ul { list-style:none; margin:5px 5px; padding:0; }
                .fenlei-detail .contcat ul li { padding:0 10px; line-height:20px; color:#808080; }
        .fenlei-detail .pics { margin-bottom:10px; list-style:none; margin:0; padding:0; }
            .fenlei-detail .pics li { float:left; width:108px; max-height:110px; }
                .fenlei-detail .pics li img { margin-right:5px; padding:1px; border:1px solid #ccc; max-width:100px; height-width:100px;
                    _width:expression(this.width > 100 ? 100 : true); _height:expression(this.height > 100 ? 100 : true); }
        .fenlei-detail .waring { margin:10px 10px 5px; color:#FF9900; border-top:1px dashed #FF9900; padding-top:8px; }

/* ask */
.ask-list {}
.ask-filter { float:right; font-style:normal; margin-top:4px; }
    .ask-filter .selected a { font-weight:bold; color:red; }
.askbox { width:718px;border-width:0 0 1px 0;border-style:solid; border-color:#ddd; margin-top:0px; background-color:#fff;
    z-index:2; overflow:hidden; padding-bottom:8px; }
    .askbox dl{width:710px;margin:0px auto;padding:0;overflow:hidden;}
    .askbox dl.asktitle { height:35px; line-height:35px;color:#666;border-bottom:1px solid #EEE;}
    .askbox dl.asklist { height:40px; line-height:40px;color:#888;background:url('../../main/default/images/ask/hr_1.gif') bottom repeat-x;}
    .askbox dl dd{display:block;text-align:center;float:left;margin:0;padding:0;}
    .askbox dl dd.biaoti{width:480px;text-align:left;text-indent:10px;}
    .askbox dl dd.huida{width:40px;}/*回答数*/
    .askbox dl dd.shijian{width:80px;}/*时间*/    
    .askbox dl dd.zhuangtai{width:50px;}
    .askbox dl dd.jifen{width:60px;}/*悬赏分*/
        .askbox dl.asktitle dd.biaoti{text-indent:20px;}
    .askbox dl.asklist dd.biaoti span{font-size:12px;margin-left:10px;color:#999999;}
        .askbox dl.asklist dd.biaoti span a{font-size:12px;color:#999999;text-decoration:none;}
            .askbox dl.asklist dd.biaoti span a:hover{color:#F30;}
        .askbox dl.asklist dd.biaoti a{font-size:12px;}/*标题*/
    .askbox dl.asklist dd.jifen{padding-top:15px;line-height:15px;color:#F60;}
    .askbox dl.asklist dd.zhuangtai{padding-top:11px;line-height:15px;height:20px;}
    .askbox dl.asklist dd.huida,.askbox dl.asklist dd.shijian,.askbox dl.asklist dd.biaoti{line-height:40px;color:#777;}

.ask-detail { margin-bottom:5px; }
    .ask-detail h1{ font-size:20px; ;margin-bottom:15px; font-family:"Microsoft YaHei", "Hiragino Sans GB", STHeiti, SimHei, sans-serif; 
        font-weight:normal; padding:10px 15px 10px; border-bottom:1px solid #eee; text-indent:26px; }
        .ask-detail h1.subject { background:url('../../main/default/images/ask/qa_ico_3.gif') 10px 14px no-repeat; }
        .ask-detail h1.subject2 { background:url('../../main/default/images/ask/qa_ico_4.gif') 10px 14px no-repeat; }
    .ask-detail div.info { margin-top:10px;padding:0; color:#808080; background:#F3F3F3;line-height:30px;padding:0 15px}
    .ask-detail div.content { font-size:14px; line-height:180%;padding:0 15px; }
        .ask-detail div.content img { max-width:595px; _width:expression(this.width > 595 ? 595 : true); }
    .ask-detail div.digg{ width:80px; margin:10px auto 15px; text-align:center; border:1px solid #ccc; padding:10px 0; 
        background:#FFF; -moz-border-radius:10px; }
    .ask-detail div.operation { border-width:1px 0; border-color:#ddd; border-style:dashed; background:#FFF; padding:10px 0; 
        text-align:center;  margin-bottom:20px; }
    .ask-detail .content a.answerbutton{ width:124px; height:37px; display:block; margin:6px;
        background:url('../../main/default/images/ask/bt_bg.gif') top center; text-align:center; line-height:37px; color:#336600;
        font-weight:bold; text-decoration:none; letter-spacing:1px; } /*回答按钮*/
        .ask-detail .content a.answerbutton:hover { color:#006699; background:url('../../main/default/images/ask/bt_bg.gif') bottom center; }

.answerbox { padding:15px; margin-top:10px; }
        .answerbox tr td { line-height:20px; }
    .answerbox p { margin:0; padding:0; line-height:30px; }

.answer { width:95%; margin:5px auto; font-size:14px; color:#555; line-height:27px; }/*回答BOX*/
    .answer a.psub { width:124px; height:37px; display:block; margin:6px; background:url('../../main/default/images/ask/bt_bg.gif') top center;
        text-align:center; line-height:37px; color:#336600; font-weight:bold; text-decoration:none; letter-spacing:1px; }
        .answer a.psub:hover{color:#006699;background:url('../../main/default/images/ask/bt_bg.gif') bottom center;}
    .answerbox .upbtn { width:124px; height:37px; border:none; font-size:14px; font-weight:bold; letter-spacing:2px; line-height:37px;
            color:#360; background:url('../../main/default/images/ask/bt_bg.gif') top no-repeat; cursor:pointer; }
    .answer_info { margin:0 auto; clear:both; width:95%; height:29px; line-height:29px; border-top:1px dotted #DDD;
        border-bottom:1px solid #FFDCB9; color:#666; text-align:right; padding-right:16px; }/*回答相关信息*/
        .answer_info span{color:#693; }

.boxtitle { width:95%; margin:5px auto; height:27px; line-height:27px; background:#FCF4E0; border-bottom:1px solid #F7B53C; margin:1px auto;
    text-indent:13px; font-weight:bold; letter-spacing:2px; }
.answer-mark { width:95%;margin:0px auto; height:42px; clear:both; }/*答案评分*/
    .answer-mark dl { width:95%; margin:10px auto 0px; }
        .answer-mark dl dt { float:left; line-height:39px; color:#666666; }
    .answer-mark dl dt strong { font-size:14px; color:#333333; }
    .answer-mark dl dd { float:left; width:170px; margin-left:16px; }
        .answer-mark dl dd a { width:82px;height:22px;padding:11px 0px 4px 0px; display:block; float:left;
            background:url('../../main/default/images/ask/mark_ico.gif') top center no-repeat; font-weight:bold; font-size:14px;
            text-indent:15px; text-decoration:none; color:#666; }
        .answer-mark dl dd a img { margin-right:10px; margin-top:-2px; }
        .answer-mark dl dd a:hover { color:#CC3300; background-position:bottom; }
        .answer-mark dl dd span { line-height:37px; float:left; margin-left:10px; font-size:12px; }
.answer-rebetter { width:95%; margin:5px auto; border-bottom:1px solid #FFDCB9;}/*提问者对最佳回答的评论*/
    .answer-rebetter dl { margin-top:10px; }
        .answer-rebetter dl dt { font-size:14px; font-weight:bold; line-height:27px; color:#333; display:block; text-indent:5px;}
        .answer-rebetter dl dd { width:95%;margin:0px auto;font-size:14px;color:#666;line-height:27px;}

/* party */
.party-list { border-bottom:1px dashed #ddd; padding: 5px 0; }
    .party-list .thumb { float:left; margin-right:10px; width:130px; height:100px; border:1px solid #ddd; text-align:center; }
        .party-list .thumb img { vertical-align: middle; max-width:120px; max-height:80px; _width: expression(this.width > 120 ? 120 : true); 
            _height: expression(this.height > 80 ? 80 : true); }
        .party-list .thumb b { display:inline-block; height:100%; vertical-align:middle; }
    .party-list .info { float:left; width:500px; }
        .party-list .info ul { margin:5px 0 0; padding:0; list-style:none; }
            .party-list .info ul li { line-height:20px; color:#808080; }
            .party-list .info h3 { margin:10px 0; padding:0; font-size:14px; }
                .party-list .info h3 a { color:#CC0000; }
    .party-list .num { float:left; width:60px; }
        .party-list .num .applynum { background:url('../../main/default/images/party/party_applynum.gif') no-repeat; width:58px; 
            text-align:center; padding:17px 0 0 0; margin:15px 0 0 0; font-size:24px; color:#FF6600; }

.party-detail-ul { list-style:none; margin:0; padding:0; }
    .party-detail-ul li { padding:1px 0; color:#323232;}

.party-info-table { margin:0 0 10px 0; width:100%; }
.party-info-thumb { width:220px; }
    .party-info-thumb img { border:1px solid #ddd; padding:2px; text-align:center; }
.party-info-detail { width:auto; }
    .party-info-detail h3 { font-size:14px; color:#CC0000; margin:0 0 5px 0; }

.party-tab { list-style:none; padding:0; margin:0; }
    .party-tab li { float:left; position:relative; *top:10px; margin-right:1px; }
        .party-tab li a { display:block; padding:6px 12px; background:#eee; text-decoration:none; }
            .party-tab li.selected  a { background:#C36409; color:#FFF; font-weight:bold; }
    .party-tab-line { clear:both; border-top:2px solid #C36409; }
    .party-tab-foo { margin-bottom:10px; }

.party-des, .party-content { font-size:14px; line-height:180%; padding:10px; }
.party-member { padding:10px 10px 0; }
    .party-member ul { margin:0; padding:0; list-style:none; }
        .party-member ul li { float:left; width:70px; height:80px; text-align:center; }
            .party-member ul li div { width:70px; }
                .party-member ul li div img { border:1px solid #ddd; padding:1px; }
            .party-member ul li p { margin:0; padding:2px 0; }

.party-pictures { }
    .party-pictures-upload { text-align:right; height:30px; line-height:30px; }
.party_picture_ul { padding:0;margin:0;list-style:none; }
    .party_picture_ul li { float:left; width: 130px; height: 120px; margin:5px 10px; padding:1px; text-align:center; }
        .party_picture_ul li div { border:1px solid #ddd; width:125px; height:95px; background:#FCFCFC; margin-bottom:5px; }
            .party_picture_ul li div img { max-width: 124px; max-height: 90px; margin-top: expression((95-this.height)/2); 
                _width: expression(this.width > 124 ? 124 : true); _height: expression(this.height > 90 ? 90 : true); }
        .party_picture_ul li p { margin:0;padding:0; }

.party-comment-table { margin:5px auto; width:97%; }
    .party-comment-table span { margin-left:5px; }
    .party-comment-table td { padding:8px 0; border-bottom:1px dashed #ddd; color:#3D3D3D; line-height:20px; }
        .party-comment-table td a { color:#0066FF; }
        .party-comment-table td .reply { margin:8px 10px 5px; border:1px solid #FFB74A; background:#FFFBF7; padding:10px 5px; }

.party-comment-form { margin:10px 10px; }
    .party-comment-form-enter { border:1px solid #B8C9DC; margin-bottom:10px;  }
        .party-comment-form-enter textarea { width:97%; height:50px; border:0; padding:5px; }
        .party-comment-form-enter-status { border-top:1px solid #eee; height:25px; line-height:25px; padding:0 10px; background:#F7F7F7; color:#808080; }
        .party-comment-form button { clear:both; margin:5px 0 0 0; }

.party-comment-table { margin:5px auto; width:97%; }
    .party-comment-table span { margin-left:5px; }
    .party-comment-table td { padding:8px 0; border-bottom:1px dashed #ddd; color:#3D3D3D; line-height:20px; }
        .party-comment-table td a { color:#0066FF; }
            .party-comment-table td .reply { margin:8px 10px 5px; border:1px solid #FFB74A; background:#FFFBF7; padding:10px 5px; }

/* end */