<script type="text/javascript">
$(document).ready(function(){
    $("table[trmouse=Y] tr").each(function(i) {
        if(!this.className) {
            $(this).mouseover( function() { this.style.background='#FFFFCC'; } );
            $(this).mouseout( function() { this.style.background='#FFF'; } );
        }
    });
});

function expand(self, id) {
    var obj = document.getElementById(id).childNodes;
    for(var i=0;i<obj.length;i++) {
        if(obj[i].nodeName == "DIV") {
            switch(obj[i].style.display) {
                case "":
                case "block":
                 obj[i].style.display = "none";
                 $('#'+id+' > [class=c_folder]').attr('class',"e_folder");
                 break;
                case "none":
                 obj[i].style.display = "block";
                 $('#'+id+' > [class=e_folder]').attr('class',"c_folder");
                 break; 
            }
        }
    }
}
</script>
<div class="myleft_home"><a href="{url item/member/ac/g_subject}" onfocus="this.blur()">主题管理</a></div>
<div class="myleft_top"></div>
<div class="my_menus myleft_middle">

<!--{if $_G['subject_owner']}-->
    <div id='div_2' class='menu'>
        <p><a href='javascript:expand(this, "div_2");' class='c_folder'>主题管理</a></p>
        <!--{loop $_G['assistant_menu']['manage'] $k $val}-->
        <!--{eval 
            list($name,$url) = explode(',', $val);
            if($_G['menu_mapping']) foreach($_G['menu_mapping'] as $re) $re['src']==$url&&$url = $re['dst'];
        }-->
        <div id='div_2_$k' class='menu'>&nbsp;<a href="{print url($url)}">$name</a></div>
        <!--{/loop}-->
    </div>
<!--{/if}-->

</div>