<!--{eval
    $_HEAD['title'] = $_CITY[name].$MOD[name] . $_CFG['titlesplit'] . str_replace('&nbsp;&raquo;&nbsp;',$_CFG['titlesplit'],strip_tags($subtitle));
}-->
{template modoer_header}
<div id="body">

    <div class="link_path">
        <em class="font_3">
            <!--{loop $links $link}-->
            <a href="$link[url]"{if $link[flag]=='article'} style="color:#ff6600;"{/if}>$link[title]</a> |
            <!--{/loop}-->
            <!--{if $access_post}-->
            <span class="review-ico"><a href="{url article/member/ac/article/op/add/role/$role}">我要投稿</a></span>&nbsp;&nbsp;
            <!--{/if}-->
            <!--{if $MOD['rss']}-->
            <span class="rss-ico"><a href="{url article/rss/catid/$catid}">新闻聚合</a></span>
            <!--{/if}-->
        </em>
        <div><a href="{url modoer/index}">$_CITY[name]</a>&nbsp;&raquo;&nbsp;<a href="{url article/index}">$MOD[name]</a>&nbsp;&raquo;&nbsp;$subtitle</div>
    </div>

    <div class="mainrail rail-border-3">

        <div id="article_left">

            <div class="article_list">
                <!--{if $list}-->
                {dbres $list $val}
                <div class="article_s">
                    <em>{date $val[dateline]}</em>
                    <h2><a href="{url article/detail/id/$val[articleid]}">$val[subject]</a></h2>
                    <p>$val[introduce]...<a href="{url article/detail/id/$val[articleid]}">[阅读全文]</a></p>
                    <div><span>作者：$val[author]</span>&nbsp;<span>来源：$val[copyfrom]</span>&nbsp;<span>评论：$val[comments]</span></div>
                </div>
                {/dbres}
                <div class="multipage">$multipage</div>
                <!--{else}-->
                <div class="messageborder">没有找到任何信息。</div>
                <!--{/if}-->
            </div>

        </div>

        <div id="article_right">

        <!--{if $sid}-->
            <script type="text/javascript">loadscript('item');</script>
            <div class="mainrail">
                <h2 class="rail-h-2"><b><a href="{url item/detail/id/$subject[sid]}"><span class="font_2">$subject[name]{if $subject[subname]}($subject[subname]){/if}</span></a></b></h2>
                <div class="subject">
                    <!--{eval $reviewcfg = $_G['loader']->variable('config','review');}-->
                    <table class="subject_field_list" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                            <td colspan="2">
                                <p class="start start{print get_star($subject[avgsort],$reviewcfg[scoretype])}"></p>
                                <div>
                                <span class="font_2">$subject[reviews]</span>点评,
                                <span class="font_2">$subject[guestbooks]</span>留言,
                                <span class="font_2">$subject[pageviews]</span>浏览
                                </div>
                            </td>
                        </tr>
                        $subject_field_table_tr
                    </table>
                    <div class="subject-operation">
                    <a class="abtn1" href="{url review/member/ac/add/type/item_subject/id/$subject[sid]}"><span>我要点评</span></a>
                    <a class="abtn2" href="javascript:add_favorite($subject[sid]);"><span>关注</span></a>
                    <a class="abtn2" href="{url item/detail/id/$subject[sid]/view/guestbook}#guestbook"><span>留言</span></a>
                    <div class="clear"></div>
                    </div>
                </div>
            </div>
        <!--{else}-->
            <div class="mainrail category_list">
                <h2 class="rail-h-1"><b>文章分类</b></h2>
                <ul>
                    <!--{if $catid}-->
                    {get:article val=category(pid/$catid/parent/1)}
                    <li><a href="{url article/list/catid/$val[catid]}">$val[name]</a></li>
                    {/get}
                    <!--{else}-->
                    {get:article val=category(pid/0)}
                    <li><a href="{url article/list/catid/$val[catid]}">$val[name]</a></li>
                    {/get}
                    <!--{/if}-->
                <div class="clear"></div>
            </div>

            <div class="mainrail">
                <h2 class="rail-h-2"><b>推荐文章</b></h2>
                <ul class="rail-list2">
                    {get:article val=getlist(select/articleid,subject,dateline/city_id/_NULL_CITYID_/catid/$catid/att/2/orderby/dateline DESC/rows/5)}
                    <li><cite>{date $val[dateline],'m-d'}</cite><a href="{url article/detail/id/$val[articleid]}">{sublen $val[subject],20}</a></li>
                    {/get}
                </ul>
            </div>

            <div class="mainrail">
                <h2 class="rail-h-2"><b>热门评论</b></h2>
                <ul class="rail-list2">
                    {get:article val=getlist(select/articleid,subject,comments/city_id/_NULL_CITYID_/catid/$catid/comments/1/orderby/comments DESC/rows/5)}
                    <li><cite>$val[comments] 评论</cite><a href="{url article/detail/id/$val[articleid]}">{sublen $val[subject],20}</a></li>
                    {/get}
                </ul>
            </div>
        <!--{/if}-->

        </div>

    <div class="clear"></div>
    </div>
</div>
<!--{eval footer();}-->