#coupon_left { float:left; width:650px; }
#coupon_right { float:right; width:300px; }

.coupon-view { border-width:0 1px 1px;border-color:#ddd;border-style:solid !important; background:#fff;padding-top:10px;  }
.coupon-side-search { margin:6px 5px 5px 10px; }
.coupon-side-search button { position:absolute ; *margin-top:-2px; *margin-left:5px; }

#coupon_left .detail { border-right:1px solid #ccc; padding:15px 15px; }
#coupon_left .detail h1.subject { font-size:20px; *padding-top:8px;margin-bottom:15px;text-align:center; 
    font-family:"Microsoft YaHei","Hiragino Sans GB",STHeiti,SimHei,sans-serif; font-weight:normal; }
#coupon_left .detail div.info { margin-top:10px;padding:0; color:#808080; text-align:center; }
#coupon_left .detail div.introduce { margin:15px 0; border:1px solid #ddd; background:#FAFAFA; padding:10px; line-height:160%; color:#808080; }
#coupon_left .detail div.content { font-size:14px; line-height:180%; }
#coupon_left .detail div.content img { max-width:595px; _width:expression(this.width > 595 ? 595 : true); }
#coupon_left .detail div.print { width:180px; margin:0 auto; }
#coupon_left .detail ul.des {list-style:none;border:1px solid #ddd; background:#FAFAFA; line-height:160%; color:#808080;  padding:10px 0 10px 10px; }
#coupon_left .detail ul li { margin:5px 0; }

.il_coupon { margin-bottom:10px; padding:5px 10px 10px 25px; border-bottom:1px solid #ddd; }
.il_coupon h2 { font-family:"Microsoft YaHei","Hiragino Sans GB",STHeiti,SimHei,sans-serif; font-size:14px; padding:0; margin:3px 0 8px; font-weight:normal; }
.il_coupon .thumb { float:left; width:170px; *width:170px; margin:0; }
    .il_coupon .thumb img { max-width:160px; _width:expression(this.width > 160 ? 160 : true); }
.il_coupon .info { float:right; width:430px; color:#808080; margin:0; padding:0; list-style:none; }
.il_coupon .info li { float:left; width:210px; padding:5px 0; margin:0; }
.il_coupon .info li.full { width:100%; }

.subject { width:90%; margin:5px auto; line-height:18px; }
.subject h2 { font-size:14px; margin:10px 0 5px; padding:0; }
.subject h2 a{ color:red;  }
.subject .start { margin:0; padding:0; height:15px;  }
.subject_field_list { color:#808080; margin:5px 0 10px; }
.map { width:255px; }


