{template modoer_header}
<div id="body">

    <div class="mainrail">
		<div class="g-list-category">
			<div class="g-list-category-type">
				<h3>分类:</h3>
				<ul class="g-list-category-class">
                    <li$active[catid][0]><a href="{url item/tops}">综合</a></li>
                    <!--{if $category_level<=2 && $subcats}-->
                        <!--{get:item val=category(pid/$catid)}-->
                        <li><span$active[catid][$val[catid]]><a href="{url item/tops/catid/$val[catid]}">$val[name]</a></span></li>
                        <!--{/get}-->
                    <!--{else}-->
                        <!--{get:item val=category(pid/$category[$catid][pid])}-->
                        <li><span$active[catid][$val[catid]]><a href="{url item/tops/catid/$val[catid]}">$val[name]</a></span></li>
                        <!--{/get}-->
                    <!--{/if}-->
				</ul>
				<div class="clear"></div>
            </div>
        </div>
        <!--{if !$catid}-->
        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="topsort">
        <tr>
        <!--{eval $index=0;}-->
        <!--{get:item val=category(pid/0)}-->
        <td style="width:321px; padding:5px 3px;" valign="top">
            <table width="315" cellspacing="0" cellpadding="0" border="0">
                <tr><td class="title cl{print $index%3}" height="24"><h3>最佳{print:item category(catid/$val[catid])}</h3></td></tr>
                <tr><td class="body cl{print $index%3}">
                        <table width="99%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center">
                            <tr>
                                <th width="28" nowrap="" height="28">排名</th>
                                <th width="20">&nbsp;</th>
                                <th width="*" nowrap="" align="left">名称</th>
                                <th width="40" nowrap="" bgcolor="#ffffff" align="center">综合分</th>
                            </tr>
                            <!--{get:item topval=top(city_id/_NULL_CITYID_/pid/$val[catid]/field/avgsort/orderby/avgsort DESC/rows/10)}-->
                            <tr>
                                <td class="tdLine" width="28" align="center">$topval[index].</td>
                                <td class="tdLine" align="center"> {if !$topval[trend]}-{else}<img src="{URLROOT}/{$_G[tplurl]}img/mini-{$topval[trend]}.gif" />{/if}</td>
                                <td class="tdLine"><div><a href="{url item/detail/id/$topval[sid]}" title="$topval[fullname]">$topval[fullname]</a></div></td>
                                <td class="tdLine" align="center">$topval[value]</td>
                            </tr>
                            <!--{/get}-->
                        </table>
                </td></tr>
            </table>
        </td>
        <!--{if ++$index%3==0}--></tr><tr><!--{/if}-->
        <!--{/get}-->
        </tr>
        </table>
        <!--{else}-->
        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="topsort">
        <tr>
        <!--{eval $index=0;}-->
        <!--{loop $tops $top}-->
        <td style="width:321px; padding:5px 3px;" valign="top">
            <table width="315" cellspacing="0" cellpadding="0" border="0">
                <tr><td class="title cl{$index}" height="24"><h3>$top[title]</h3></td></tr>
                <tr><td class="body cl{$index}">
                        <table width="99%" cellspacing="0" cellpadding="0" border="0" bgcolor="#ffffff" align="center">
                            <tr>
                                <th width="28" nowrap="" height="28">排名</th>
                                <th width="20">&nbsp;</th>
                                <th width="*" nowrap="" align="left">名称</th>
                                <th width="40" nowrap="" bgcolor="#ffffff" align="center">$top[name]</th>
                            </tr>
                            <!--{get:item topval=top($top[params])}-->
                            <tr>
                                <td class="tdLine" width="28" align="center">$topval[index].</td>
                                <td class="tdLine" align="center"> {if !$topval[trend]}-{else}<img src="{URLROOT}/{$_G[tplurl]}img/mini-{$topval[trend]}.gif" />{/if}</td>
                                <td class="tdLine"><div><a href="{url item/detail/id/$topval[sid]}" title="$topval[fullname]">$topval[fullname]</a></div></td>
                                <td class="tdLine" align="center">$topval[value]</td>
                            </tr>
                            <!--{/get}-->
                        </table>
                </td></tr>
            </table>
        </td>
        <!--{if ++$index%3==0}--></tr><tr><!--{/if}-->
        <!--{/loop}-->
        </tr>
        </table>
        <!--{/if}-->
    </div>

    <div class="clear"></div>
</div>

<!--{eval footer();}-->