<!--{eval $_HEAD['title'] = $member[username] . '发表的点评' . $_CFG['titlesplit'] . $space['spacename'];}-->
{template modoer_header}
<script type="text/javascript">
loadscript('item');
</script>
<div id="body">
<div class="link_path">
    <em>
        <!--{loop $space_menus $val}-->
        <!--{eval $val['url']=str_replace('(uid)', $uid, $val['url']);}-->
        <a href="{url $val[url]}"{if SCRIPTNAV==$val[scriptnav]} class="active"{/if}>$val[title]</a>&nbsp;|
        <!--{/loop}-->
        已浏览：<span class="font_2">$space[pageview]</span>
    </em>
    <a href="{url modoer/index}">首页</a>&nbsp;&raquo;&nbsp;<a href="{url space/index/uid/$uid}">$member[username]</a>&nbsp;&raquo;&nbsp;我发表的点评
</div>
<div id="space_left">
    {template space_side}
</div>
<div id="space_right">
    <div class="mainrail rail-border-1">
        <h3 class="rail-h-1 rail-h-bg-1">我发表的点评</h3>
        {template space_part_review}
    </div>
</div>
</div>
<!--{eval footer();}-->