{template modoer_header}
<div id="body">
<div class="myhead"></div>
<div class="mymiddle">
    <div class="myleft">
        <!--{eval !$mymenu && $mymenu = 'mmenu';}-->
        <!--{template $mymenu,'member','member'}-->
    </div>
    <div class="myright">
        <div class="myright_top"></div>
        <div class="myright_middle">
            <h3>$subtitle</h3>
            <div class="mainrail">
                <ul class="optabs"><!--{loop $status_name $k $v}--><li{if $status==$k} class="active"{/if}><a href="{url article/member/ac/$ac/status/$k}">$v</a></li><!--{/loop}--><!--{if $access_add}--><li class="act"><a href="{url article/member/ac/article/op/add/role/$role}">发表新文章</a></li><!--{/if}--></ul><div class="clear"></div>
                <form method="post" name="myform" action="{url article/member/ac/article/rand/$_G[random]}">
                <table width="100%" cellspacing="0" cellpadding="0" class="maintable" trmouse="Y">
                    <tr class="thbg">
                        {if $access_del}<th width="25"><input type="checkbox" onclick="checkbox_checked('articleids[]',this);" /></th>{/if}
                        <th width="*">名称</th>
                        <th width="150">分类</th>
                        <th width="50">评论</th>
                        <th width="50">浏览</th>
                        <th width="50">顶一下</th>
                        <th width="110">发布时间</th>
                        <th width="60">操作</th>
                    </tr>
                    <!--{dbres $list $val}-->
                    <tr>
                        {if $access_del}<td><input type="checkbox" name="articleids[]" value="$val[articleid]" /></td>{/if}
                        <td><a href="{url article/detail/id/$val[articleid]}" target="_blank">$val[subject]</a><span class="font_3">[{print:modoer area(aid/$val[city_id])}]</span></td>
                        <td>{print misc_article::category_path($val[catid])}</td>
                        <td>$val[comments]</td>
                        <td>$val[pageview]</td>
                        <td>$val[digg]</td>
                        <td>{date $val[dateline]}</td>
                        <td><a href="{url article/member/ac/article/op/edit/articleid/$val[articleid]/role/$role}">编辑</a></td>
                    </tr>
                    <!--{/dbres}-->
                    <!--{if !$total}-->
                    <tr>
                        <td colspan="6">暂无信息。</td>
                    </tr>
                    <!--{/if}-->
                </table>
                <!--{if $total}-->
                <div class="multipage">$multipage</div>
                <div class="text_center">
                    <input type="hidden" name="dosubmit" value="yes" />
                    <input type="hidden" name="op" value="delete" />
                    <!--{if $access_del}-->
                    <button type="button" onclick="easy_submit('myform','delete','articleids[]');">删除所选</button>
                    <!--{/if}-->
                </div>
                <!--{/if}-->
                </form>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>
<div class="mybottom"></div>
</div>
<!--{eval footer();}-->