{template modoer_header}

<div id="body">
    <div class="myhead"></div>
    <div class="mymiddle">
        <div class="myleft">
            <!--{template 'menu','member','member'}-->
        </div>
        <div class="myright">
            <div class="myright_top"></div>
            <div class="myright_middle">
                <h3>我关注的主题</h3>
                <div class="mainrail">
                    <ul class="optabs"><!--{loop $category $val}--><!--{if !$val['pid']}--><li{if $val[catid]==$pid} class="active"{/if}><a href="{url item/member/ac/$ac/pid/$val[catid]}">$val[name]</a></li><!--{/if}--><!--{/loop}--></ul><div class="clear"></div>
                    <form method="post" name="myform" action="{url item/member/ac/$ac/rand/$_G[random]}">
                    <table width="100%" cellspacing="0" cellpadding="0" class="maintable" trmouse="Y">
                        <tr>
                            <th width="25">删?</th>
                            <th width="*">$title $subtitle</th>
                            <th width="120">关注时间</th>
                        </tr>
                        <!--{if $total}-->
                        <!--{dbres $list $val}-->
                        <tr>
                            <td><input type="checkbox" name="fids[]" value="$val[fid]" /></td>
                            <td><a href="{url item/detail/id/$val[id]}" target="_blank">$val[name].$val[subname]</a>{if $val[city_id]}<span class="font_3">[{print:modoer area(aid/$val[city_id])}]</span>{/if}</td>
                            <td>{date $val[addtime],'Y-m-d H:i'}</td>
                        </tr>
                        <!--{/dbres}-->
                        <!--{else}-->
                        <tr><td colspan="3">暂无信息。</td></tr>
                        <!--{/if}-->
                    </table>
                    <!--{if $total}-->
                    <div class="multipage">$multipage</div>
                    <div class="text_center">
                        <input type="hidden" name="dosubmit" value="yes" />
                        <input type="hidden" name="op" value="delete" />
                        <button type="button" onclick="easy_submit('myform','delete','fids[]');">删除所选</button>
                    </div>
                    <!--{/if}-->
                    </form>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="mybottom"></div>
</div>

<!--{eval footer();}-->